.nav > nav > ul {
  list-style-type: none;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7rem;
  background-color: #002a29;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: Montserrat;
}
